* {
  box-sizing: border-box;
  margin: 0;
  pad: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.5;
}

.character_map {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #3b3b3b;
}

.breakingBad {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.breakingBad h1 {
  font-size: 56px;
  font-weight: 700;
}

.chemistry {
  color: rgb(72, 127, 90);
  background: rgb(255, 255, 255);
  text-shadow: rgb(0 0 0) 1px 1px;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.search input {
  width: 400px;
  border: 2px solid #487f5a;
  border-radius: 10px;
  padding: 10px;
}

.search input:focus {
  outline: none;
}

.quotes {
  width: 500px;
  min-height: 200px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #000;
  border:3px solid #487f5a;
  text-align: center;
}

.quotes .author {
   text-align: right;
}


.card {
  margin: 3%;
  width: 225px;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
}

img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.8;
}

.card img {
  cursor: pointer;
}

.bee_logo {
  width: 30px;
  height: 30px;
}

.char_btm {
  background: #fff;
  margin-left: -20px;
  position: relative;
  height: 120px;
  transition: 1s;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.char_btm div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.char_btm p {
  font-size: 0.9em;
  text-align: center;
}


.char_btm::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #acacac;
  border-top: 0;
  border-right: 0;
  margin-top: -20px;
  overflow: visible;
}

.btm2 {
  margin-top: -200px;
  height: 320px;
  transition: 1s;
  opacity: 0.9;
  overflow: hidden;
  position: relative;
}

.char_btm .hidden {
  display: none;
}

.hidden_info {
  flex-direction: column;
}

.hidden_info div {
  display: flex;
  justify-content: space-between;
  width: 95%;
  border-bottom: 1px solid #e9e9e9;
}

.hidden_info div p {
  margin-top: 14px;
  margin-bottom: 14px;
}

.hidden_info div p:first-of-type {
  font-weight: 700;
}

footer {
  margin: 5% 2% 1%;
  border-top: 1px solid rgb(123, 123, 123);
  position: relative;
}

footer svg {
  position: absolute;
  height: 30px;
  left: 1%;
  top: 20%;
}
